SECRET_KEY='django-insecure-!w7e-r3)r1k*&i1imlb!dk$)iov03&(^72tjty)c%=m3bu5w!j'
DEBUG=True
ALLOWED_HOSTS=["*",]

# databae setup
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=""
DB_USERNAME=""
DB_PASSWORD=""
DB_HOST="db"
DB_PORT="5432"